channels:
{% for channel in python_environment_packages_conda.channels | default([]) %}
  - {{ channel }}
{% endfor %}
dependencies:
{% for dependency in python_environment_packages_conda.dependencies %}
  - {{ dependency }}
{% endfor %}
