channels:
{% for channel in python.packages.conda.channels | default([]) %}
  - {{ channel }}
{% endfor %}
dependencies:
{% for dependency in python.packages.conda.dependencies %}
  - {{ dependency }}
{% endfor %}
