#!/bin/bash

basedir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

{% if anaconda and 'origin' in anaconda %}
# Activate Anaconda environment
source "{{ anaconda.origin }}/bin/activate" "{{ anaconda_environment_path }}"
{% endif %}

{% if python and 'origin' in python %}
# Activate Python environment
source "{{ python.origin }}/bin/activate" "{{ python_environment_path }}"
{% endif %}

{% if nodejs and 'origin' in nodejs %}
# Activate Node.js environment
source "{{ nodejs.origin }}/bin/activate" "{{ nodejs_environment_path }}"
{% endif %}

export HISTFILE=$basedir/.history
history -c

if [ -e "$HISTFILE" ]; then
    history -r $HISTFILE
fi

if [ -e "$basedir/history" ]; then
    history -r $basedir/history
fi

# Setting environment variables
{% for name, value in env.items() %}
export {{name}}='{{value}}'
{% endfor %}

export PS1='\[\033[01;32m\]\u@\h\[\033[01;34m\] \W \$\[\033[00m\] '

{% if cwd %}
cd '{{ cwd }}'
{% endif %}
clear