#!/bin/bash

basedir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

# Activate Python environment
source "{{ python.origin }}/bin/activate" $basedir/python

export HISTFILE=$basedir/.user/history
history -c

if [ -e "$HISTFILE" ]; then
    history -r $HISTFILE
fi

if [ -e "$basedir/history" ]; then
    history -r $basedir/history
fi

export PS1='\[\033[01;32m\]\u@\h\[\033[01;34m\] \W \$\[\033[00m\] '
cd ./source/backend-cloud/aws-sam
clear